<div class="footer_section">
    <div class="container">
        <h1 class="touch_text">مشاوره رایگان</h1>
        <div class="email_box">
            <div class="input_main">
                <form asp-action="SubmitContact" asp-controller="Home" method="post">
                    <div class="form-group">
                        <input type="text" class="email-bt" placeholder="نام و نام خانوادگی" name="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="email-bt" placeholder="موبایل" name="Phone">
                    </div>
                    <div class="form-group">
                        <textarea class="massage-bt" placeholder="مقطع تحصیلی" rows="5" name="Message"></textarea>
                    </div>
                    <div class="send_bt">
                        <button type="submit">ارسال</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="call_main">
            <div class="call_text">
                <img src="~/images/call-icon.png">
                <span class="padding_left_15">+989368919159</span>
            </div>
            <div class="call_text">
                <img src="~/images/mail-icon.png">
                <span class="padding_left_15">sarayaghoobinezhad@gmail.com</span>
            </div>
        </div>
        <div class="social_icon">
            <ul>
                <li><a href="#"><img src="~/images/fb-icon.png" alt="Facebook"></a></li>
                <li><a href="#"><img src="~/images/twitter-icon.png" alt="Twitter"></a></li>
                <li><a href="#"><img src="~/images/linkedin-icon.png" alt="LinkedIn"></a></li>
                <li><a href="#"><img src="~/images/instagram-icon.png" alt="Instagram"></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">
            @DateTime.Now.Year All Rights Reserved. Design by <a href="http://html.design">Free Html Templates</a>
        </p>
    </div>
</div>