<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="language" content="fa">

    <title>@ViewData["Title"] - گروه مشاورین SaLi</title>

    <!-- فونت فارسی وزیر -->
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css" rel="stylesheet">

    <!-- Bootstrap RTL -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- فایل‌های CSS پروژه -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/rtl-custom.css">

    <link rel="icon" href="~/images/fevicon.png" type="image/gif">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

    <!-- هدر سایت -->
    <partial name="_Header" />

    <!-- محتوای اصلی -->
    <main role="main">
        <div class="container-fluid">
            @{
                // گرفتن نام کنترلر و اکشن فعلی
                var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
                var action = ViewContext.RouteData.Values["Action"]?.ToString();

                // صفحاتی که سایدبار نباید نمایش داده بشه
                var noSidebarPages = new[] {
                        "Home/Index",      // صفحه اصلی
                        "Admin"            // تمام صفحات ادمین
                        };

                var currentPage = $"{controller}/{action}";
                var isAdminPage = controller == "Admin";
                var showSidebar = !isAdminPage && currentPage != "Home/Index";
            }

            @if (showSidebar)
            {
                <!-- صفحات با سایدبار (سایدبار سمت چپ) -->
                <div class="row with-sidebar">
                    <div class="col-md-3 sidebar-left">
                        @await Component.InvokeAsync("ImportantArticles")
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            }
            else
            {
                <!-- صفحات بدون سایدبار -->
                <div class="row">
                    <div class="col-12">
                        @RenderBody()
                    </div>
                </div>
            }
        </div>
    </main>

    <!-- فوتر سایت -->
    <partial name="_Footer" />

    <!-- فایل‌های جاوااسکریپت -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>