<div class="students_section layout_padding">
    <div class="container">
        <h1 class="courses_taital">نظرات کاربران</h1>

        <div class="students_section_2 layout_padding">
            <div class="client_main">
                <div class="client_left">
                    <div class="image_9"><img src="~/images/img-9.png"></div>
                </div>
                <div class="client_right">
                    <h1 class="name_text">شیرین تقدسی</h1>
                    <p class="client_text">از کیفیت مجموعه راضی هستم </p>
                    <div class="quote_icon"><img src="~/images/quote-icon.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>