@{
    Layout = "_Layout";
    ViewData["Title"] = "Our Services";
}

<div class="services_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="language_taital">Our Services</h1>
                <h1 class="language_taital_1">What We Offer</h1>
                <p class="services_text">Professional language learning services tailored to your needs</p>
            </div>
        </div>
    </div>
</div>

<div class="language_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="box_main">
                    <div class="icon_1"><img src="~/images/icon-1.png"></div>
                    <h6 class="heavy_text">An Easy Study Approach</h6>
                    <p>Modern teaching methods for quick learning</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="box_main active">
                    <div class="icon_1"><img src="~/images/icon-2.png"></div>
                    <h6 class="heavy_text">Free Teaching Materials</h6>
                    <p>Access to comprehensive learning resources</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="box_main">
                    <div class="icon_1"><img src="~/images/icon-3.png"></div>
                    <h6 class="heavy_text">A Free Mobile Application</h6>
                    <p>Learn anytime, anywhere with our app</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="box_main">
                    <div class="icon_1"><img src="~/images/icon-4.png"></div>
                    <h6 class="heavy_text">An Accredited School</h6>
                    <p>Certified and recognized institution</p>
                </div>
            </div>
        </div>
    </div>
</div>