@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
</head>
<body>
    <textarea id="editor" name="content"></textarea>
    <script>
        CKEDITOR.replace('editor');
    </script>
</body>
</html>